doctype html
html(lang="es-CO")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Airline | Your next Destination
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="assets/css/style.css")
  body
    header
      .m-width
        nav
          h1.nav__logo AIRLINE
          .nav__menu
            ul
              li
                a(href="#") en
                  img(src="assets/img/arrow-down.svg")
                ul.nav_menu--drop-menu
                  li
                    a(href="#") RU - Russian
                  li
                    a(href="#") DE - German
                  li
                    a(href="#") FR - French
            ul.nav__menu--main
              li
                a(href="#") Home
              li
                a(href="#") About
              li
                a(href="#") Destinations
              li
                a(href="#") Contact
        .header__content
          h2.
            Visit Canada with prices from $800
          p.
            Prepare your bags and forget your worries to start enjoying your holidays in this fantastic country
          a.button Buy now
    main
      .main__title
        h3 Offers
        span.main__title--bar
      section.main__container
        .card-container
          .card-container__content
            article.card.moscow#trip-moscow
              .card__container
                p.card__title Trip to Moscow
                p.card__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in nulla mauris.
                  a.card__info__link(href="#") more
                p.card__price Price $600,86
            article.card.puerto-rico#trip-puerto_rico
              .card__container
                p.card__title Trip to Puerto Rico
                p.card__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in nulla mauris.
                  a.card__info__link(href="#") more
                p.card__price Price $600,86
            article.card.honduras#trip-honduras
              .card__container
                p.card__title Trip to Honduras
                p.card__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in nulla mauris.
                  a.card__info__link(href="#") more
                p.card__price Price $600,86
          section.card-chosen
            p#chosen-dest Trip to Honduras
            .card-chosen__divider
            p.card_chosen__text Chosen destination
        section.trip-menu
          h4 Menu
          ul.trip-menu__ul
            li
              a(href="#") Check-in
            li
              a(href="#") Manage My Booking
            li
              a(href="#") Search
            li
              a(href="#") Destinations
            li
              a(href="#") Members
    footer
      .m-width
        section.social-nav
          p.social-nav__title.
            Follow us
          .social-nav__icons
            figure
              img.social-nav__icons--facebook(src="assets/img/facebook.svg")
            figure
              img.social-nav__icons--instagram(src="assets/img/instagram.svg")
            figure
              img.social-nav__icons--twitter(src="assets/img/twitter.svg")
        section.footer-nav
          .footer-nav__menu
            p.footer-nav__menu__title About Us
            p.footer-nav__menu__text We want to help passengers to reach their destinations.
          .footer-nav__menu
            p.footer-nav__menu__title Explore
            ul.footer-nav__menu__ul
              li
                a(href="#") Home
              li
                a(href="#") Destinations
              li
                a(href="#") About
          .footer-nav__menu
            p.footer-nav__menu__title Information
            ul.footer-nav__menu__ul
              li
                a(href="#") More search
              li
                a(href="#") Blog
              li
                a(href="#") Testimonials
          .footer-nav__menu
            p.footer-nav__menu__title Services
            ul.footer-nav__menu__ul
              li
                a(href="#") Manage My Bookings
              li
                a(href="#") Checkin
              li
                a(href="#") Hotel
              li
                a(href="#") Cars