/*

1. Root
2. Header
3. Main
4. Footer
5. Media Queries

*/
/* 1. ROOT ========================= */
:root {
  --black: #000000;
  --dark-blue: #0a2463;
  --dark-cyan: #247ba0;
  --dark-gray: #605f5e;
  --main-gray: #707070;
  --main-red: #fb3640;
  --white: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

div.m-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px;
  width: 100%;
}

/* 2. HEADER ========================= */
header {
  background-image: url("../img/plane.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  max-height: 475px;
  position: relative;
  width: 100%;
}
header div.m-width {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding-top: 16px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  max-height: 70px;
  width: 100%;
}
header nav .nav__logo {
  color: var(--white);
  font-size: 3.6rem;
}
header nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header nav .nav__menu .nav__menu--main {
  display: none;
}
header nav .nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
header nav .nav__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
}
header nav .nav__menu ul li a {
  color: var(--white);
  font-size: 1.8rem;
  text-align: right;
}
header nav .nav__menu ul li a img {
  margin-left: 5px;
  width: 16px;
}
header nav .nav__menu ul li ul.nav_menu--drop-menu {
  background-color: var(--white);
  border-radius: 15px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  min-width: 145px;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 25px;
}
header nav .nav__menu ul li ul.nav_menu--drop-menu li {
  margin-bottom: 7px;
}
header nav .nav__menu ul li ul.nav_menu--drop-menu li a {
  color: var(--dark-cyan);
}
header div.header__content {
  max-width: 400px;
  width: 100%;
}
header div.header__content h2 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 5px;
}
header div.header__content p {
  color: var(--white);
  font-size: 1.4rem;
}
header div.header__content a.button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: var(--main-red);
  border-radius: 30px;
  color: var(--white);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.8rem;
  margin-top: 50px;
  padding: 15px 72px;
  text-transform: uppercase;
  width: auto;
}

/* 3. MAIN ========================= */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 65px 30px;
  width: 100%;
}
main .main__title {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .main__title h3 {
  color: var(--dark-cyan);
  font-size: 2rem;
  font-weight: 700;
  margin-right: 15px;
}
main .main__title span.main__title--bar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: var(--dark-gray);
  height: 2px;
  opacity: 0.4;
  width: 100%;
}
main section.main__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
  width: 100%;
}
main section.main__container .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main section.main__container .card-container .card-container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
main section.main__container .card-container article.card {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-position: center;
  background-size: cover;
  border: 2px solid rgba(10, 36, 99, 0.5);
  border-radius: 16px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.29);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.29);
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 240px;
  overflow: hidden;
  position: relative;
}
main section.main__container .card-container article.card .card__container {
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 9px 16px 13px;
}
main section.main__container .card-container article.card .card__container .card__title {
  color: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 17px;
}
main section.main__container .card-container article.card .card__container .card__info {
  color: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 30px;
}
main section.main__container .card-container article.card .card__container .card__info .card__info__link {
  color: inherit;
  margin-left: 5px;
  text-decoration: underline;
}
main section.main__container .card-container article.card .card__container .card__price {
  color: inherit;
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
}
main section.main__container .card-container .card-chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-grid-column-span: 3;
  grid-column: span 3;
  padding-top: 50px;
  width: 100%;
}
main section.main__container .card-container .card-chosen #chosen-dest {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}
main section.main__container .card-container .card-chosen .card-chosen__divider {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: var(--dark-gray);
  display: block;
  margin-bottom: 7px;
  width: 230px;
  height: 1px;
}
main section.main__container .card-container .card-chosen .card_chosen__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--dark-gray);
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
main section.main__container .moscow {
  background-image: url(../img/moscow.jpg);
}
main section.main__container .puerto-rico {
  background-image: url(../img/puerto-rico.jpg);
}
main section.main__container .honduras {
  background-image: url(../img/honduras.jpg);
}
main section.trip-menu {
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.19);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.19);
  min-width: 240px;
  overflow: hidden;
  padding-top: 30px;
}
main section.trip-menu h4 {
  color: var(--dark-gray);
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}
main section.trip-menu ul.trip-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
main section.trip-menu ul.trip-menu__ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
}
main section.trip-menu ul.trip-menu__ul li:last-child {
  border-bottom: none;
}
main section.trip-menu ul.trip-menu__ul li a {
  color: var(--dark-gray);
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 16px 30px 16px 55px;
  position: relative;
  width: 100%;
}
main section.trip-menu ul.trip-menu__ul li a::before {
  border-color: transparent transparent transparent var(--dark-cyan);
  border-style: solid;
  border-width: 7.5px 0 7.5px 15px;
  content: "";
  height: 0;
  left: 30px;
  position: absolute;
  top: 20px;
  width: 0;
}

/* 4. FOOTER ========================= */
footer {
  background-color: var(--dark-blue);
  padding: 30px 0 50px;
}
footer .m-width {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
footer .footer-nav .footer-nav__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 30px;
}
footer .footer-nav .footer-nav__menu .footer-nav__menu__title {
  color: var(--main-red);
  font-size: 1.8rem;
  margin-bottom: 15px;
  margin-top: 30px;
}
footer .footer-nav .footer-nav__menu .footer-nav__menu__text {
  color: var(--white);
  font-size: 1.4rem;
  line-height: 1.7rem;
}
footer .footer-nav .footer-nav__menu .footer-nav__menu__ul li {
  margin-bottom: 12px;
}
footer .footer-nav .footer-nav__menu .footer-nav__menu__ul li a {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 400;
}
footer .social-nav__title {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}
footer .social-nav__icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
footer .social-nav__icons figure {
  width: 30px;
}
footer .social-nav__icons figure img {
  width: 100%;
}

/* 5. MEDIA QUERIES ========================= */